@model IEnumerable<MiniHR.Application.DTOs.DepartmentDto>

<h2>Departments</h2>
<a asp-action="Create" class="btn btn-primary">Create New</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Name</th>
            <th>Head</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmentName</td>
                <td>@item.HeadOfDepartment</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartmentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

